.navigation {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
}

.logo {
}

.navList {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.navList > a > div {
  display: flex;
  gap: 11px;
  align-items: center;
}

.selectedLink {
  background: #3a3a3a;
  border-radius: 24px;
  padding: 7px 19px;
}

.navList > a > div > img {
  width: 19px;
}

.navList > li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* Tablet and desktop styles */
@media (min-width: 481px) {
  .navigation {
    max-width: var(--max-width);
    padding: 0 var(--sides-padding);
  }

  .title {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
  }
}
