.sectionsContainer {
    padding: 0 var(--sides-padding);
    margin-bottom: 5rem;
    width:100%;
  }

.header {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #000000;
}
 
.sections {
    width:100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding: 50px 0px;
    height: auto;
    justify-content: space-between;
}

.section {
    display: flex;
    width:49%;
    max-width: 100%;
    padding: 40px 40px 10px 0px;
    background: #F8F8F8;
    border-radius: 33px;
}

.sectionContent  {
    display: flex;
    flex-direction: column;
}

.sectionContent>div:first-child {
    font-weight: 500;
    font-size: 40px;
    line-height: 73px;

    color: #000000;

}

.sectionDescription {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    max-height: 100px;
    min-height: 100px;
}

.sectionContent>div:last-child {
    padding: 25px 0px;
}

.sectionContent>div:last-child>a {
    background: #FFFFFF;
    border-radius: 41px;
    height: 40px;
    padding:8px 25px;

    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;

}

.sectionIcon>img {
    max-height: 180px;
    max-width: 150px;
    margin-left: 0;
    transform: translate(-9%,0%);
}