:root {
    font-size: 16px;

    --text-primary: #000000;
    --text-secondary: #FFFFFF;
    --text-thirdly: #CECECE;

    --bg-primary: #FFFFFF;
    --bg-secondary: #F8F8F8;
    --bg-highlight: linear-gradient(180deg, #5CBFF0 0%, #0495FE 100%);
    --bg-header: linear-gradient(180deg, #000000 0%, #131313 100%);
    --bg-footer: linear-gradient(180deg, #000000 0%, #131313 100%);

    --max-width: 1600px;

    --header-height: 7.5rem;
    --sides-padding: 5rem;
    --border-radius: 20px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

button {
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* Tablet and desktop styles */
@media (min-width: 481px) {
    :root {
        --sides-padding: 5rem;
    }
}
